.d-btn-title,
.d-btn-date {
  display: inline-flex;
  flex-direction: column;
  position: absolute;
  text-align: left;
  top: 10px;
  left: 10px;
  margin: 0;
  padding: 0;
  color: white;
  font-weight: bold;
  text-shadow: 0 0 15px #000;
  pointer-events: none;
  transition: opacity 0.3s ease, transform 0.3s ease;
  z-index: 1;
}

.d-button {
  display: inline-flex;
  flex-direction: column;
  position: absolute;
  text-align: left;
  cursor: pointer;
  height: 50px;
  width: auto;
  font-size: 1.7em;
  align-items: center;
  font-weight: bold;
  border-radius: 5px;
  background-color: #ff0000;
  color: #fff;
  bottom: 10px;
  left: 10px;
  margin: 0;
  padding: 0;
  transition: background-color 0.3s ease;
}

.d-btn-title {
  font-size: 1.9em;
}

.d-btn-date {
  top: 45px;
  font-size: 1.3em;
}

#d-btn {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: calc(300px * N + 20px * (N - 1));
  margin-left: 100px;
  margin-right: 100px;
}

.d-btn {
  width: 300px;
  height: 175px;
  position: relative;
  overflow: hidden;
  border-radius: 4px;
  margin-right: 0;
  background-color: #1C2128;
  margin-bottom: 20px;
}
