#txt-box {
  background-color: #1A1A1A;
  box-shadow: 0 0 7px #fff;
  width: fit-content;
  height: fit-content; 
  padding: 20px;
  margin: 25px auto;
  border-radius: 3px;
  margin-top: 25px;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-left: 150px;
  margin-right: 150px;
}

.txt-header {
  text-align: center;
  align-items: center;
  margin-top: 20px;
}

.heading {
  font-weight: bold;
  font-size: 4.5em;
  font-family: 'Source Sans Pro', sans-serif;
  color: #fff;
  margin-bottom: 0;
}

#text {
  margin-left: 130px;
  margin-right: 130px;
  text-align: left;
}

.txt {
  font-size: 1.8em;
  color: #fff;
  font-family: 'Source Sans Pro', sans-serif;
}

.txt-link {
  text-decoration: none;
  color: #8d0000;
}
